<IfModule dir_module>
    #DirectoryIndex index.html
    DirectoryIndex homepage.html
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
